body {
  background-color: rgb(4, 1, 36);
}

img {
  max-height: 50vh;
  max-width: 100%;
}

p {
  text-align: center;
}

.filmBooked {
  color: black;
  background-color: darkgray;
}

.rounded {
  border-radius: 10px;
}

.seatBtn {
  height: 40px;
  width: 40px;
}

.color--blackblue {
  color: rgb(4, 1, 36)
}

.bgcolor--darkblue {
  background-color: rgb(14, 0, 138);
}

.color--pale {
  color: #EAE2B7;
}

.bgcolor--pale {
  background-color: #EAE2B7;
}

.shadow--text {
  text-shadow: -1px -1px 0 #003049, 1px -1px 0 #003049, -1px 1px 0 #003049, 1px 1px 0 #003049;
}

.unselectable {
  user-select: none;
}

@media (max-width: 200px) {
  * {
    overflow: scroll;
  }
}

@media (min-width: 1080px){
  .themed-container{
    width: 75%
  }
}